= link_to fa_icon("fw google", text: "Continue with Google+"),
  user_google_oauth2_omniauth_authorize_path,
  class: "btn btn-omniauth-google"
  
= link_to fa_icon("fw twitter", text: "Continue with Twitter"),
  user_twitter_omniauth_authorize_path,
  class: "btn btn-omniauth-twitter"
